<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pagetitle %></title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    
    <!-- Sidebar -->
    <div class="sidebar" style="width: 250px;">
        <div class="sidebar-header">
            <h3>Fin<span>Track</span></h3>
        </div>
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link" href="/#">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link active" href="/transactions"> -->
                <a class="nav-link" href="/transactions">
                    <i class="bi bi-credit-card"></i> Transactions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/budget">
                    <i class="bi bi-graph-up"></i> Budget
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">
                    <i class="bi bi-bar-chart"></i> Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/savingsgoals">
                    <i class="bi bi-piggy-bank"></i> Savings Goals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">
                    <i class="bi bi-gear"></i> Settings
                </a>
            </li>
            <li class="nav-item mt-5">
                <a class="nav-link" href="/logout">
                    <i class="bi bi-box-arrow-left"></i> Logout
                </a>
            </li>
        </ul>
    </div>